<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Collections</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <!-- nav bar starts here -->
  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <ul class="left hide-on-med-and-down">
          <li>
            <a id="logo-container" href="/" class="left">Home</a>
          </li>
          <li>
            <a href="/collections">Collections</a>
          </li>
          <li>
            <a href="/popular">Popular</a>
          </li>
          <li>
            <a href="/sell">Sell</a>
          </li>
          <li>
            <a href="/users">Account</a>
          </li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="sass.html">
              <i class="material-icons">search</i>
            </a>
          </li>
          <li>
            <a href="sass.html">
              <i class="material-icons">shopping_cart</i>
            </a>
          </li>
          <li>
            <a href="/users">
              <i class="material-icons">account_circle</i>
            </a>
          </li>
          <li>
            <a class="waves-effect waves-light btn">Login</a>
          </li>
        </ul>

      </div>
    </nav>
  </div>
  <!-- nav bar ends here -->

  <div class="container">
    <!-- Entire Body Starts -->

    <div class="row">
      <div class="col s12"></div>

      <!-- start of bag image -->
      <div class="col s9">

        <img src="" class="bImage materialboxed" width="450">

        <!-- end of bag image -->
      </div>

      <!-- start of bag details (right column) -->
      <div class="col s3">
        <br>
        <br>
        <h5 class="bName"></h5>
        <br>
        <h6 class="bModel"></h6>
        <h6 class="bStyle"></h6>
        <h6 class="bColor"></h6>
        <h6 class="bPrice"></h6>
        <br>
        <h6 id="bagDesc"></h6>
        <br>
        <br>
        <a id="buyBag" class="waves-effect waves-light btn buyButton">Buy</a>
        <br>
        <br>
        <a id="resellBag" class="waves-effect waves-light btn buyButton">Resell Mine</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Purchase Page</h4>
            <p>You are about to purchase:</p>
            <span id="modalBagDetails"></span>


          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="purchaseFromModal">Purchase</a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="Cancel">Cancel</a>
          </div>
        </div>
        <!-- end of bag details (right column) -->

      </div>
    </div>

    <!-- Entire Body Ends -->
  </div>


  <!-- footer starts here -->
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum velit non ea minus dignissimos laboriosam commodi.
            Magnam reiciendis, animi tenetur laudantium iusto consequuntur ipsum fuga illum nobis aspernatur, eos nisi.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li>
              <a class="white-text" href="#!">Address</a>
            </li>
            <li>
              <a class="white-text" href="#!">Phone</a>
            </li>
            <li>
              <a class="white-text" href="#!">Twitter</a>
            </li>
            <li>
              <a class="white-text" href="#!">Facebook</a>
            </li>
            <li>
              <a class="white-text" href="#!">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright 2018
        <a class="brown-text text-lighten-3">Locally Sourced "Cool Grandpa T-Shirts"</a>
      </div>
    </div>
  </footer>
  <!-- footer ends here -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script>
    //initialize all modals
    $('.modal').modal();

    var getId = localStorage.getItem("BagIndexToBuy")
    var id = parseInt(getId)
    renderDetailsToScreen("/api/bags", id)

    function renderDetailsToScreen(routePath, id) {
      //This function returns all bags in db_bags.bag.  Then, it "filters" based on ID 
      //on what to show on the page
      $.get(routePath).then(function (r) {
        var currentBagIndex = 0
        for (var i = 0; i < r.length; i++) {
          if (r[i].id === id) {
            currentBagIndex = i
            $(".bName").append(r[i].name)
            $(".bModel").append(r[i].model)
            $(".bStyle").append(r[i].style)
            $(".bColor").append(r[i].color)
            $(".bPrice").append("$" + r[i].price)
            $("#bagDesc").append(r[i].description)
            $(".bImage").attr("src", r[i].image);
            break
          }
        }
        $('#buyBag').on('click', function () {
          $('#modal1').modal('open');
          console.log(r[currentBagIndex])
          $('#modalBagDetails').append(r[currentBagIndex].model + " by " + r[currentBagIndex].name + "<br>\
                                          Price: $"+ r[currentBagIndex].price)
          updateBagAfterBuy(r[currentBagIndex])
        })
      })
    }

    function updateBagAfterBuy(bagToUpdate) {
      //Function that handles PUT, after bag is bought
      $.ajax({
        method: "PUT",
        url: "/api/bags/buy/",
        data: bagToUpdate
      })
        .then(function () {
          alert("Congratulations")
          window.location.href = "/collections"
        })
    }

  </script>



</body>

</html>