<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Collections</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- nav bar starts here -->
  <div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <ul class="left hide-on-med-and-down">
        <li><a id="logo-container" href="/" class="left">Home</a></li>
        <li><a href="/collections">Collections</a></li>
        <li><a href="/popular">Popular</a></li>
        <li><a href="#">Sell</a></li>
        <li><a href="#">Account</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="sass.html"><i class="material-icons">shopping_cart</i></a></li>
        <li><a href="sass.html"><i class="material-icons">account_circle</i></a></li>
        <li><a class="waves-effect waves-light btn">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
<!-- nav bar ends here -->
<div class="container">

  <!-- Entire Body Starts -->
    <div class="row">

        <!-- Filter Column Starts -->
        <div class="col s12 m4 l3">
          <!-- Note that "m4 l3" was added -->
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>STYLE</h4>
            </li>
            <li class="collection-item">Clutch</li>
            <li class="collection-item">Evening</li>
            <li class="collection-item">Hobo</li>
            <li class="collection-item">Satchel</li>
            <li class="collection-item">Sling</li>
            <li class="collection-item">Top Handle</li>
            <li class="collection-item">Tote</li>
            <li class="collection-item">Wallet</li>
            <li class="collection-item">Others</li>
          </ul>
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Designer</h4>
            </li>
            <li class="collection-item">Balenciaga</li>
            <li class="collection-item">Burberry</li>
            <li class="collection-item">Celine</li>
            <li class="collection-item">Channel</li>
            <li class="collection-item">Chloe</li>
            <li class="collection-item">Hermes</li>
            <li class="collection-item">LV</li>
            <li class="collection-item">Prada</li>
            <li class="collection-item">Valentino</li>
            <li class="collection-item">YSL</li>
            <li class="collection-item">Others</li>
          </ul>
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Color</h4>
            </li>
            <li class="collection-item">Black</li>
            <li class="collection-item">Blue</li>
            <li class="collection-item">Brown</li>
            <li class="collection-item">Gray</li>
            <li class="collection-item">Green</li>
            <li class="collection-item">Neutral</li>
            <li class="collection-item">Orange</li>
            <li class="collection-item">White</li>
            <li class="collection-item">Others</li>
          </ul>
        </div>
        <!-- Filter Column Ends -->
        
        <!-- Product Gallery Section Starts -->
        <div class="col s12 m8 l9"> 
        <!-- Note that "m8 l9" was added -->
          
        <!-- Second Column Starts -->
          <div class="row">
            <div class="col s12">

              <div class="col s3">
                <div class="card">
                  <div class="card-image">
                    <img src="images/sample-1.jpg">
                  </div>
                  <div class="card-content">
                    <p>Product Description</p>
                  </div>
                </div>
              </div>

              <div class="col s3">
                <div class="card">
                  <div class="card-image">
                    <img src="images/sample-1.jpg">
                  </div>
                  <div class="card-content">
                    <p>Product Description</p>
                  </div>
                </div>
              </div>
              
              <div class="col s3">
                <div class="card">
                  <div class="card-image">
                    <img src="images/sample-1.jpg">
                  </div>
                  <div class="card-content">
                    <p>Product Description</p>
                  </div>
                </div>
              </div>

              <div class="col s3">
                <div class="card">
                  <div class="card-image">
                    <img src="images/sample-1.jpg">
                  </div>
                  <div class="card-content">
                    <p>Product Description</p>
                  </div>
                </div>
              </div>
            </div>
          <!-- Teal page content
  
                This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->
        </div>
        <!-- Second Column Ends -->
  
      </div>
      <!-- Product Gallery Section Ends -->
</div>
<!-- Entire Body Ends -->


<!-- footer starts here -->
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum velit non ea minus dignissimos laboriosam commodi. Magnam
          reiciendis, animi tenetur laudantium iusto consequuntur ipsum fuga illum nobis aspernatur, eos nisi.</p>
      
      </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li><a class="white-text" href="#!">Address</a></li>
            <li><a class="white-text" href="#!">Phone</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright 2018
        <a class="brown-text text-lighten-3">Locally Sourced "Cool Grandpa T-Shirts"</a>
      </div>
    </div>
</footer>
<!-- footer ends here -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>
