<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>New Bag</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <!-- nav bar starts here -->
  <div class="navbar-fixed">
      <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <ul class="left hide-on-med-and-down">
            <li>
              <a id="logo-container" href="/" class="left">Home</a>
            </li>
            <li>
              <a href="/collections">Collections</a>
            </li>
            <li>
              <a href="/staffpicks">Staff Picks</a>
            </li>
            <li>
                <a href="/sell">Sell</a>
            </li>
            <li>
              <a href="/account">Account Overview</a>
            </li>
            <li>
              <a href="/users">Sign Up</a>
            </li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#">
                <i class="material-icons">search</i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="material-icons">shopping_cart</i>
              </a>
            </li>
            <li>
              <a href="/account">
                <i class="material-icons">account_circle</i>
              </a>
            </li>
            <li>
              <a class="waves-effect waves-light btn blue lighten-2">Login</a>
            </li>
          </ul>
  
        </div>
      </nav>
    </div>
    <!-- nav bar ends here -->

  <!-- Entire Body Starts -->
  <div class="row">
    <div class="col s12">
      <div class="container">

        <!-- New Bag Form Starts Here -->
        <div class="card">
          <div class="card-content">
            <p>Enter New Bag Info:</p>

            <div class="row">
              <div class="input-field col s6">
                <div class="form-group">
                  <label for="name">Brand</label>
                  <input type="text" class="form-control" id="name" placeholder="Prada, Balenciaga, Burberry, etc">
                </div>
              </div>
              <div class="input-field col s6">
                <div class="form-group">
                  <label for="model">Style/Model</label>
                  <input type="text" class="form-control" id="model" placeholder="Sling, Hobo, Clutch, etc">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="text" class="form-control" id="price" placeholder="$$$.$$">
                </div>
              </div>
              <div class="input-field col s6">
                <div class="form-group">
                  <label for="material">Material</label>
                  <input type="text" class="form-control" id="material" placeholder="Leather, Canvas, etc">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <div class="form-group">
                  <label for="color">Color</label>
                  <input type="text" class="form-control" id="color">
                </div>
              </div>
              <div class="input-field col s6">
                <div class="form-group">
                  <label for="SKU">SKU #</label>
                  <input type="text" class="form-control" id="SKU" placeholder="SKU #">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" width="100%" id="description" placeholder="Enter a brief description of bag here"></textarea>
            </div>
            <br>
            <br>
            <div class="form-group">
              <label for="image">Image link</label>
              <input type="text" class="form-control" id="image" placeholder="image link">
            </div>

            <br>
            <br>

            <button type="submit" id="submitBTN" class="btn btn-default buttons sell_bag blue lighten-2">
            <span style="font-size:12px"></span>Submit</button>
            </p>
          </div>

          <!-- New Bag Form Ends Here -->
        </div>

        <!-- Entire Body Ends -->
      </div>
    </div>

  </div>




  <!-- footer starts here -->
  <footer class="page-footer blue lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">The most stylish global marketplace to buy and sell pre-owned luxury handbags and purses. We offer the most coveted
              and hard-to-find items...All items are curated and quality checked by our team of experts. It's never been easier
              to make money and refresh your wardrobe. Buy, sell, share!</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li>
              <a class="white-text" href="#!">Address</a>
            </li>
            <li>
              <a class="white-text" href="#!">Phone</a>
            </li>
            <li>
              <a class="white-text" href="#!">Twitter</a>
            </li>
            <li>
              <a class="white-text" href="#!">Facebook</a>
            </li>
            <li>
              <a class="white-text" href="#!">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright blue lighten-2">
      <div class="container">
        Copyright 2018
        <a class="brown-text text-lighten-1">Locally Sourced "Cool Grandpa T-Shirts"</a>
      </div>
    </div>
  </footer>
  <!-- footer ends here -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script>
    $('.sell_bag').on('click', function () {

      var bagObj = {
        name: $('#name').val().trim(),
        model: $('#model').val().trim(),
        quantity: 1,
        price: parseFloat($('#price').val().trim()),
        color: $('#color').val().trim(),
        material: $('#material').val().trim(),
        SKU: $('#SKU').val().trim(),
        image: $('#image').val().trim(),
        description: $('#description').val().trim(),
        sold: "false",
        bought_by:"x"
      }
      $.post('/api/bags', bagObj).then(function (r) {
        alert(r.name + " added")
        $('#name').val() = ''
        $('#model').val() = ''
        $('#price').val() = ''
        $('#color').val() = ''
        $('#material').val() = ''
        $('#SKU').val() = ''
        $('#image').val() = ''
        $('#description').val() = ''
      })
    })

  </script>
</body>

</html>