<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>New Bag</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <!-- nav bar starts here -->
  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <ul class="left hide-on-med-and-down">
          <li>
            <a id="logo-container" href="/" class="left">Home</a>
          </li>
          <li>
            <a href="/collections">Collections</a>
          </li>
          <li>
            <a href="/popular">Popular</a>
          </li>
          <li>
            <a href="/sell">Sell</a>
          </li>
          <li>
            <a href="/users">Account</a>
          </li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="sass.html">
              <i class="material-icons">search</i>
            </a>
          </li>
          <li>
            <a href="sass.html">
              <i class="material-icons">shopping_cart</i>
            </a>
          </li>
          <li>
            <a href="/users">
              <i class="material-icons">account_circle</i>
            </a>
          </li>
          <li>
            <a class="waves-effect waves-light btn">Login</a>
          </li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li>
            <a href="#">Navbar Link</a>
          </li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </nav>
  </div>
  <!-- nav bar ends here -->

  <!-- Entire Body Starts -->
  <div class="row">
    <div class="col s12">
      <div class="container">

        <!-- New Bag Form Starts Here -->
        <div class="card">
          <div class="card-content">
            <p>Enter New User Info:</p>
            <br>
            <div class="row">
              <div class="input-field col s6">
                <div class="form-group">
                  <label for="name">Full Name</label>
                  <input type="text" class="form-control" id="fullName" placeholder="Stormy Daniels">
                </div>
              </div>
              <div class="input-field col s6">
                <div class="form-group">
                  <label for="model">Email Address</label>
                  <input type="text" class="form-control" id="email" placeholder="calltrump@trumptowers.org">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <div class="form-group">
                  <label for="color">User Name</label>
                  <input type="text" class="form-control" id="userName" placeholder="thestormy">
                </div>
              </div>
              <div class="input-field col s6">
                <div class="form-group">
                  <label for="SKU">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="**********">
                </div>
              </div>
            </div>

            <button type="submit" id="submitBTN" class="btn btn-default buttons new_user">
            <span style="font-size:12px"></span>Submit</button>
            </p>
          </div>

          <!-- New Bag Form Ends Here -->
        </div>

        <!-- Entire Body Ends -->
      </div>
    </div>

  </div>




  <!-- footer starts here -->
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum velit non ea minus dignissimos laboriosam commodi.
            Magnam reiciendis, animi tenetur laudantium iusto consequuntur ipsum fuga illum nobis aspernatur, eos nisi.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li>
              <a class="white-text" href="#!">Address</a>
            </li>
            <li>
              <a class="white-text" href="#!">Phone</a>
            </li>
            <li>
              <a class="white-text" href="#!">Twitter</a>
            </li>
            <li>
              <a class="white-text" href="#!">Facebook</a>
            </li>
            <li>
              <a class="white-text" href="#!">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright 2018
        <a class="brown-text text-lighten-3">Locally Sourced "Cool Grandpa T-Shirts"</a>
      </div>
    </div>
  </footer>
  <!-- footer ends here -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script>
    $('.new_user').on('click', function () {

      var userObj = {
        name: $('#fullName').val().trim(),
        email: $('#email').val().trim(),
        userName: $('#userName').val().trim(),
        password: $('#password').val().trim()
      }
      $.post('/api/users', userObj).then(function (r) {
        alert(r.name + " added")
        $('#fullName').val('')
        $('#email').val('')
        $('#userName').val('')
        $('#password').val('')
      })
    })

  </script>
</body>

</html>