/* Index Page */
.midPar {
  color: black;
}

/* newbag.html */
.form-group {
  display: inline;
}
/* -------- */


/*collection*/
.card_bag {
  height:250px;
  }

.card-image {
  margin: auto;
  width: 40%;
  height: 40%;
}

.card-image img {
    padding-top: 25%;
}

.collection {
  border: 1px solid white;
}

.collection-item {
  border: 1px solid white;
  font-size: 75%;
}

#collectionColumn {
  padding-top: 50px;
}

.card_bag-content {
  font-size:75%;
}

/* Popular Page */
#popularColumn {
  padding-top: 50px;
}

/* buy bag page */
.buyButton {
  width: 100%;
}

#bagDesc {
  font-style: italic;
}

/* =========================== */
/* built in materialize css */
nav ul a,
nav .brand-logo {
  color: #444;
}

.tagLines {
  color: rgb(1, 26, 29);
  font-style: italic;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}



#download-button{
 background-color: rgb(50, 140, 192);
}


table{
  width:1000px;
}

#card-account {
  border: 2px solid rgb(100, 98, 98);
  margin-bottom: 20px;
  
}

#card-header-account {
  /* background-color: rgb(50, 140, 192); */
  padding: 10px;
  margin-bottom: 10px;
  width:1000px;
}

.active{
  color: rgb(81, 203, 219);
}

#logo{
  background-color: rgb(129, 89, 240);
}

#tagLine{
  color: rgb(1, 26, 29); 
  font-style: italic;
  font-weight: 350;
}

#fByD{
  color: #64b5f6;
  font-size: 14px;
}
